* {
  box-sizing: border-box;
  font-family: sans-serif;
}

@font-face {
  font-family: "sunny-spells";
  src: url("sunny-spells-font/SunnyspellsRegular-MV9ze.woff2") format("woff2");
}

@font-face {
  font-family: "blue-highway";
  src: url("blue-highway/blue-highway-bd.otf") format("opentype");
}

:root {
  --primary-color: #75bf44;
  --chocoOreoBG: #f1c9b7;
  --blueberryBG: #c2a7ee;
  --strawberryBG: #e7616d;
  --honeydewBG: #c4cc53;
  --purpleTaroBG: #d2b0e4;
}

#location {
  width: 22px;
  height: 22px;
}

header {
  padding: 10px 0;
  background-color: var(--primary-color);
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.nav-left li,
.nav-right li {
  display: inline-block;
  margin-right: 20px;
  list-style: none;
  margin-top: 5px;
}

#header-img {
  width: 50px;
  height: 50px;
  margin-left: 5px;
  border-radius: 5px;
}

.nav-left {
  flex-grow: 1;
  align-self: flex-start;
}

.nav-right {
  align-self: flex-end;
}

a {
  text-decoration: none;
  color: black;
  font-size: 1em;
}

.content {
  display: flex;
  /* justify-content: space-between; */
  /* margin: 50px; */
  flex-wrap: nowrap;
}

#head {
  font-weight: bolder;
  font-size: 1em;
  font-family: "sunny-spells";
  max-width: 1000px;
  /* width: 80%; */
  margin-right: 0;
}

#body {
  width: 80%;
  max-width: 700px;
  font-size: 0.4em;
  font-family: "sunny-spells";
  font-weight: 200;
}

#drink-description {
  flex: 1;
  /* flex-basis: 0; */
  padding-top: 50px;
  padding-left: 7vw;
  font-size: 50px;
}

#drinks-images {
  flex: 0 0 40%;
  /* flex-basis: 0; */
}

#drinks-images img {
  /* padding-top: 50px; */
  max-height: 650px;
  max-width: 700px;
  min-width: 400px;
  min-height: 400px;
  /* padding-right: 100px; */
  object-fit: cover;
  margin-left: -10px;
}

/* social icons */
ul {
  list-style: none;
}

#social-icons {
  position: absolute;
  top: 35%;
  right: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* justify-content: center; */
  /* padding-right: 20px; */
  /* justify-content: space-between; */
}

#social-icons img {
  width: 30px;
  height: 30px;
}

#drink-thumbnails {
  display: flex;
  gap: 20px;
  position: absolute;
  left: 35vw;
  top: 510px;
  margin-bottom: 50px;
}

#drink-thumbnails img {
  height: 150px;
}

.thumbnail {
  height: 100px;
  transition: transform 10 ease;
}

.thumbnail:nth-child(n):hover {
  transform: translateY(-15px);
}

.active {
  transform: translateY(-15px);
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

footer {
  /* position: sticky; */
  /* bottom: 10px; */
  left: 10px;
  display: flex;
  gap: 40px;
  z-index: 1;
  width: 95vw;
  margin-bottom: 15px;
  /* background-color: var(--primary-color); */
}

#footer-texts a:first-of-type {
  padding-right: 25px;
  border-right: 2px solid black;
  margin-top: 5px;
}

#footer-texts a:last-of-type {
  padding-left: 25px;
}

#footer-icons {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.form {
  display: none;
}

@media (max-width: 990px) {
  .grid-container {
    display: grid;
    grid-template-columns: 1fr;
    margin-right: 0;
    row-gap: 40px;
  }

  #drink-thumbnails {
    position: static;
    margin-left: 25vw;
    width: 450px;
  }

  #drink-thumbnails img {
    height: 70%;
  }

  #drinks-images {
    /* padding-left: 15vw; */
    justify-content: flex-end;
  }

  #social-icons {
    position: static;
    flex-direction: row;
    margin: 0;
  }

  header {
    width: 125%;
  }
}

@media (max-width: 600px) {
  #drinks-images {
    margin: 0;
    padding: 0;
  }
}
