* {
  box-sizing: border-box;
}

:root {
  --primary-color: #75bf44;
}

#header-img {
  width: 50px;
  height: 50px;
}

video,
form {
  opacity: 0;
}

#location {
  width: 22px;
  height: 22px;
}

header {
  padding: 10px 0;
  background-color: var(--primary-color);
  /* width: 100%; */
}

nav {
  position: absolute;
  left: 50px;
  top: 10px;
  display: flex;
  justify-content: space-between;
  width: 95vw;
}

.nav-left li,
.nav-right li {
  display: inline-block;
  margin-right: 20px;
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
  font-size: 0.8em;
}

p {
  width: 60%;
  margin: 0;
  max-width: 450px;
  font-size: larger;
}

h2 {
  font-size: x-large;
}

/* .content {
  position: relative;

  display: flex;
  justify-content: space-between;
  align-items: last baseline;

} */

.content #drink-description {
  position: relative;
  max-width: 80%;
  width: 100%;
  top: 5vh;
}

.blueberry-heaven {
  position: relative;
  top: -10vh;
  left: 45vw;
  max-width: 500px;
  max-height: 500px;
  height: 50vh;
  width: 50vw;
}

.blueberry-heavenBG {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  clip-path: ellipse(48% 63% at 97% 98%);
  z-index: -1;
}

@media (min-width: 1050px) {
  #drink-description {
    left: 10vw;
    font-size: larger;
  }

  p {
    width: 60%;
  }

  #blueberry-heaven {
    left: 55vw;
  }

  nav {
    font-size: large;
  }
}

.blueberry-heavenBG {
  background-color: #c2a7ee;
}

.choco-oreoBG {
  background-color: #f1c9b7;
}

.strawberryBG {
  background-color: #e7616d;
}

.honeydewBG {
  background-color: #c4cc53;
}

.purple-taroBG {
  background-color: #d2b0e4;
}

#drink-thumbnails {
  position: absolute;
  top: 70vh;
  left: 10vw;
  display: flex;
  gap: 20px;
}

.thumbnail {
  height: 100px;
  transition: transform 10 ease;
}

.thumbnail:nth-child(n):hover {
  transform: translateY(-15px);
}

footer {
  position: absolute;
  top: 95vh;
  left: 2vw;
  display: flex;
  gap: 40px;
  z-index: 1;
  width: 95vw;
  /* background-color: var(--primary-color); */
}

#footer-texts a:first-of-type {
  padding-right: 25px;
  border-right: 2px solid black;
}

#footer-texts a:last-of-type {
  padding-left: 25px;
}

#footer-icons a {
  margin-right: 05px;
}
