* {
  box-sizing: border-box;
  font-family: sans-serif;
}

@font-face {
  font-family: "sunny-spells";
  src: url("sunny-spells-font/SunnyspellsRegular-MV9ze.woff2") format("woff2");
}

:root {
  --primary-color: #75bf44;
}

#header-img {
  width: 50px;
  height: 50px;
  margin-left: 5px;
  border-radius: 5px;
}

#location {
  width: 22px;
  height: 22px;
}

header {
  padding: 10px 0;
  background-color: var(--primary-color);
  /* width: 100%; */
}

nav {
  position: absolute;
  left: 50px;
  top: 15px;
  display: flex;
  justify-content: space-between;
  width: 95vw;
  overflow-x: auto;
}

.nav-left li,
.nav-right li {
  display: inline-block;
  margin-right: 20px;
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
  font-size: 1.1em;
}

#body {
  width: 80%;
  margin: 0;
  max-width: 1000px;
  font-size: 1.7em;
  font-family: "sunny-spells";
}

#head {
  font-weight: bolder;
  font-size: 4.5em;
  font-family: "sunny-spells";
}

/* .content {
  position: relative;

  display: flex;
  justify-content: space-between;
  align-items: last baseline;

} */

.content #drink-description {
  position: relative;
  max-width: 80%;
  width: 100%;
  top: 8vh;
  margin-left: 7vw;
}

.blueberry-heaven {
  position: relative;
  top: -10vh;
  left: 45vw;
  max-width: 700px;
  max-height: 800px;
  height: 50vh;
  width: 50vw;
}

.img-bg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  clip-path: ellipse(48% 63% at 97% 98%);
  z-index: -1;
}

#drink-thumbnails {
  position: absolute;
  top: 70vh;
  left: 10vw;
  display: flex;
  gap: 20px;
}

.thumbnail {
  height: 100px;
  transition: transform 10 ease;
}

.thumbnail:nth-child(n):hover {
  transform: translateY(-15px);
}

footer {
  position: absolute;
  top: 95vh;
  left: 2vw;
  display: flex;
  gap: 40px;
  z-index: 1;
  width: 95vw;
  /* background-color: var(--primary-color); */
}

#footer-texts a:first-of-type {
  padding-right: 25px;
  border-right: 2px solid black;
}

#footer-texts a:last-of-type {
  padding-left: 25px;
}

#footer-icons a {
  margin-right: 15px;
}

@media (min-width: 1270px) {
  .img-bg {
    clip-path: ellipse(40% 63% at 97% 98%);
  }

  .blueberry-heaven {
    left: 60vw;
    top: -20vh;
  }
}

@media (max-width: 1270px) {
  .blueberry-heaven {
    top: -15vh;
    left: 60vw;
    max-width: 400px;
    max-height: 4000px;
  }

  #head {
    font-size: 2.5em;
  }

  #body {
    width: 60%;
    font-size: 1.2em;
  }
}

@media (max-width: 1040px) {
  #drink-description {
    left: 10vw;
    font-size: 1.1em;
  }

  .content #drink-description {
    margin-left: -20px;
  }

  .blueberry-heaven {
    left: 55vw;
    top: -5vw;
    height: 40vh;
    width: 40vw;
  }

  #footer-texts a:first-of-type {
    padding-right: 15px;
    border-right: 2px solid black;
  }

  #footer-texts a:last-of-type {
    padding-left: 15px;
  }

  #footer-icons a {
    margin-right: 5px;
  }
}

@media (min-width: 1350) {
}

.blueberry-heavenBG {
  background-color: #c2a7ee;
}

.choco-oreoBG {
  background-color: #f1c9b7;
}

.strawberryBG {
  background-color: #e7616d;
}

.honeydewBG {
  background-color: #c4cc53;
}

.purple-taroBG {
  background-color: #d2b0e4;
}

.form {
  display: none;
}
